<footer class="footer">
  <div class="footer__inner">
    <div>
      <img class="footer__logo" src="assets/img/logo-white.png" alt="Imperial College Space Society">
      <p>Cultivating enthusiasm for space engineering and science.<br>
      If you know nothing we&rsquo;ll teach you &mdash; if you know loads you&rsquo;ll teach us!</p>
    </div>
    <div>
      <h3>&gt; find us</h3>
      <ul>
        <li><a href="https://www.instagram.com/ic_space_society">Instagram</a></li>
        <li><a href="https://www.twitter.com/ICSpaceSoc">Twitter / X</a></li>
        <li><a href="mailto:space.society@imperial.ac.uk">space.society@imperial.ac.uk</a></li>
        <li><a href="https://www.imperialcollegeunion.org/activities/a-to-z/space-society">Union page</a></li>
      </ul>
    </div>
    <div>
      <h3>&gt; elsewhere</h3>
      <ul>
        <li><a href="join.html">Become a member (&pound;5)</a></li>
        <li><a href="blog.html#archive">The archives (2012&ndash;2023)</a></li>
        <li><a href="wiki.html">Wiki</a></li>
      </ul>
    </div>
  </div>
  <div class="badges" aria-hidden="true">
    <span class="badge badge--a"><b>LOx</b><i>powered by IPA</i></span>
    <span class="badge badge--b"><b>☀</b><i>sail powered</i></span>
    <span class="badge badge--e"><b>30km</b><i>best viewed from above</i></span>
    <span class="badge badge--d"><b>ERC</b><i>rover approved</i></span>
    <span class="badge badge--c"><b>HTML</b><i>hand-written</i></span>
  </div>
  <p class="footer__small">Imperial College Space Society &middot; Imperial College Union &middot; South Kensington, London SW7 2AZ<br>
  made by hand by ICSS members &middot; last updated 28/09/2026 &middot; best viewed with your eyes</p>
</footer>
