<a class="skip" href="#main">Skip to content</a>
<div id="nav">
  <a href="index.html"><img src="assets/img/logo-ic.png" alt="ICSS" id="logo"></a>
  <span class="taskbar__nav">
    <a href="blog.html">Blog</a>
    <a href="wiki.html">Wiki</a>
    <a href="events.html">Events</a>
    <span class="dropdown">
      <a href="projects.html">Projects &#9662;</a>
      <span class="dropdown__menu">
        <a href="tycho.html">Tycho</a>
        <a href="svarog.html">Svarog</a>
        <a href="stratus.html">Stratus</a>
        <a href="iprl.html">IPRL</a>
        <a href="rocketry.html">High Powered Rocketry</a>
        <a href="rover.html">Mini Rover</a>
      </span>
    </span>
    <a href="join.html" class="join">Join us</a>
  </span>
</div>
