<header class="taskbar">
  <a class="taskbar__logo bevel" href="index.html" aria-label="ICSS home">
    <img src="assets/img/logo-black.png" alt="ICSS">
  </a>
  <nav class="taskbar__nav" aria-label="Main">
    <a class="bevel" href="blog.html">Blog</a>
    <a class="bevel" href="wiki.html">Wiki</a>
    <a class="bevel" href="events.html">Events</a>
    <a class="bevel" href="projects.html">Projects</a>
    <a class="bevel taskbar__join" href="join.html">Join us!</a>
  </nav>
  <span class="taskbar__clock" data-clock>LDN --:--</span>
</header>
